.signin-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    height: 100vh;
    background-color: #fff;
  }
  .signin-container h2 {
    font-weight: 700;
    color: #384047;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .sign-in-error {
    font-weight: 700;
    color: red;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  
  .form {
    padding-bottom: 3em;
    align-self: center;
    width: 25%;
  }
  
  .form .form-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .dont-have-account{
    text-align: center;
     padding: 10px 
  }
  
  @media only screen and (max-width: 1200px) {
    .form {
      width: 30%;
    }
  }
  
  @media only screen and (max-width: 900px) {
   
  
    .form {
      width: 35%;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .signin-container {
      display: flex;
      justify-content: center;
      align-content: center;
      margin: auto;
      height: auto;
      flex-direction: column;
      margin-bottom: 50px;
    }
  
  
    .form {
      padding: 0px 30px;
      margin-top: 20px;
      width: 100%;
    }
  }